html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
}

.arial, body {
  font-family: Arial, Helvetica, sans-serif;
}

.helvetica {
  font-family: Helvetica, Arial, sans-serif;
}

.pt-sans {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.open-sans {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.lato {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.roboto {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.awesome {
  font-family: "FontAwesome";
}

.awesome5 {
  font-family: "Font Awesome 5 Free";
}

.weight-100 {
  font-weight: 100;
}

.weight-200 {
  font-weight: 200;
}

.weight-300 {
  font-weight: 300;
}

.weight-400, body, h1, h2, h3, h4, h5, strong {
  font-weight: 400;
}

.weight-500, .button {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}

.weight-900 {
  font-weight: 900;
}

.line-height-normal, .sb-layout header h1, .sb-layout .sb-current-balance h4, .sb-layout .sb-notification-wrap .sb-notification h4 {
  line-height: normal;
}

.normal-1 {
  color: #1273bc;
}

.light-1 {
  color: #5ca1ef;
}

.dark-1 {
  color: #00488b;
}

.bg-normal-1 {
  background: #1273bc;
}

.bg-light-1 {
  background: #5ca1ef;
}

.bg-dark-1 {
  background: #00488b;
}

.border-normal-1 {
  border-color: #1273bc;
}

.border-light-1 {
  border-color: #5ca1ef;
}

.border-dark-1 {
  border-color: #00488b;
}

.normal-2 {
  color: #f1f1f1;
}

.light-2, .button, .sb-layout footer .sb-share-links a {
  color: #ffffff;
}

.dark-2 {
  color: #e6e6e2;
}

.bg-normal-2 {
  background: #f1f1f1;
}

.bg-light-2 {
  background: #ffffff;
}

.bg-dark-2 {
  background: #e6e6e2;
}

.border-normal-2 {
  border-color: #f1f1f1;
}

.border-light-2 {
  border-color: #ffffff;
}

.border-dark-2 {
  border-color: #e6e6e2;
}

.normal-3 {
  color: #19161c;
}

.light-3, .button.icon {
  color: #333333;
}

.dark-3 {
  color: #000000;
}

.bg-normal-3 {
  background: #19161c;
}

.bg-light-3 {
  background: #333333;
}

.bg-dark-3 {
  background: #000000;
}

.border-normal-3 {
  border-color: #19161c;
}

.border-light-3 {
  border-color: #333333;
}

.border-dark-3 {
  border-color: #000000;
}

.normal-4 {
  color: #e1e2e1;
}

.light-4, .button.gray-icon {
  color: #f5f5f6;
}

.dark-4 {
  color: #c3c7c3;
}

.bg-normal-4 {
  background: #e1e2e1;
}

.bg-light-4 {
  background: #f5f5f6;
}

.bg-dark-4 {
  background: #c3c7c3;
}

.border-normal-4 {
  border-color: #e1e2e1;
}

.border-light-4, .sb-layout header .transfer-funds-btn {
  border-color: #f5f5f6;
}

.border-dark-4 {
  border-color: #c3c7c3;
}

.normal-5 {
  color: #a90010;
}

.light-5, .button.red-icon {
  color: #f7220f;
}

.dark-5 {
  color: #720000;
}

.bg-normal-5, .button.red:hover {
  background: #a90010;
}

.bg-light-5, .button.red {
  background: #f7220f;
}

.bg-dark-5 {
  background: #720000;
}

.border-normal-5 {
  border-color: #a90010;
}

.border-light-5 {
  border-color: #f7220f;
}

.border-dark-5 {
  border-color: #720000;
}

.normal-6 {
  color: #ffeb01;
}

.light-6 {
  color: #ffff56;
}

.dark-6 {
  color: #c7b900;
}

.bg-normal-6 {
  background: #ffeb01;
}

.bg-light-6 {
  background: #ffff56;
}

.bg-dark-6 {
  background: #c7b900;
}

.border-normal-6 {
  border-color: #ffeb01;
}

.border-light-6 {
  border-color: #ffff56;
}

.border-dark-6 {
  border-color: #c7b900;
}

.normal-7 {
  color: #60b403;
}

.light-7, .button.green-icon {
  color: #6ccf02;
}

.dark-7 {
  color: #258500;
}

.bg-normal-7, .button.green:hover {
  background: #60b403;
}

.bg-light-7, .button.green {
  background: #6ccf02;
}

.bg-dark-7 {
  background: #258500;
}

.border-normal-7 {
  border-color: #60b403;
}

.border-light-7 {
  border-color: #6ccf02;
}

.border-dark-7 {
  border-color: #258500;
}

.normal-8 {
  color: #2191d6;
}

.light-8, .button.cyan-icon {
  color: #68c1ff;
}

.dark-8 {
  color: #0064a4;
}

.bg-normal-8, .button.cyan:hover {
  background: #2191d6;
}

.bg-light-8, .button.cyan {
  background: #68c1ff;
}

.bg-dark-8 {
  background: #0064a4;
}

.border-normal-8 {
  border-color: #2191d6;
}

.border-light-8 {
  border-color: #68c1ff;
}

.border-dark-8 {
  border-color: #0064a4;
}

.normal-9 {
  color: #ff3700;
}

.light-9 {
  color: #ff7139;
}

.dark-9 {
  color: #c30000;
}

.bg-normal-9 {
  background: #ff3700;
}

.bg-light-9 {
  background: #ff7139;
}

.bg-dark-9 {
  background: #c30000;
}

.border-normal-9 {
  border-color: #ff3700;
}

.border-light-9 {
  border-color: #ff7139;
}

.border-dark-9 {
  border-color: #c30000;
}

.normal-10 {
  color: #272727;
}

.light-10 {
  color: #4f4f4f;
}

.dark-10 {
  color: #303030;
}

.bg-normal-10, .button.gray {
  background: #272727;
}

.bg-light-10 {
  background: #4f4f4f;
}

.bg-dark-10, .button.gray:hover {
  background: #303030;
}

.border-normal-10 {
  border-color: #272727;
}

.border-light-10 {
  border-color: #4f4f4f;
}

.border-dark-10 {
  border-color: #303030;
}

.normal-11 {
  color: #c4a747;
}

.light-11 {
  color: #f9d876;
}

.dark-11 {
  color: #917816;
}

.bg-normal-11 {
  background: #c4a747;
}

.bg-light-11 {
  background: #f9d876;
}

.bg-dark-11 {
  background: #917816;
}

.border-normal-11 {
  border-color: #c4a747;
}

.border-light-11 {
  border-color: #f9d876;
}

.border-dark-11 {
  border-color: #917816;
}

.margin-none, html, body, .sb-layout.sb-on-scroll header .sb-transfer-box {
  margin: 0;
}

.margin-none-important {
  margin: 0 !important;
}

.margin-auto, .content-wrap {
  margin: 0 auto;
}

.padding-none, html, body, button.icon, .button.icon.circle, .sb-layout .sb-section-iframe .content-wrap {
  padding: 0;
}

.padding-none-important {
  padding: 0 !important;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
}

.margin-left-5 {
  margin: 0 0 0 5px;
}

.margin-right-5 {
  margin: 0 5px 0 0;
}

.margin-bottom-5, .sb-layout.sb-on-scroll header h1 {
  margin: 0 0 5px 0;
}

.margin-top-5 {
  margin: 5px 0 0 0;
}

.margin-left-right-5 {
  margin: 0 5px 0 5px;
}

.margin-top-bottom-5 {
  margin: 5px 0 5px 0;
}

.margin-5 {
  margin: 5px;
}

.padding-5 {
  padding: 5px;
}

.padding-left-5 {
  padding: 0 0 0 5px;
}

.padding-right-5 {
  padding: 0 5px 0 0;
}

.padding-bottom-5 {
  padding: 0 0 5px 0;
}

.padding-top-5 {
  padding: 5px 0 0 0;
}

.padding-left-right-5 {
  padding: 0 5px 0 5px;
}

.padding-top-bottom-5 {
  padding: 5px 0 5px 0;
}

.top-5, .sb-layout .sb-current-balance h4 {
  top: 5px;
}

.top--5 {
  top: -5px;
}

.top-5p {
  top: 5%;
}

.top--5p {
  top: -5%;
}

.left-5 {
  left: 5px;
}

.left--5 {
  left: -5px;
}

.left-5p {
  left: 5%;
}

.left--5p {
  left: -5%;
}

.right-5 {
  right: 5px;
}

.right--5 {
  right: -5px;
}

.right-5p {
  top: 5%;
}

.right--5p {
  right: -5%;
}

.bottom-5 {
  bottom: 5px;
}

.bottom--5 {
  bottom: -5px;
}

.bottom-5p {
  bottom: 5%;
}

.bottom--5p {
  bottom: -5%;
}

.margin-left-10 {
  margin: 0 0 0 10px;
}

.margin-right-10 {
  margin: 0 10px 0 0;
}

.margin-bottom-10 {
  margin: 0 0 10px 0;
}

.margin-top-10 {
  margin: 10px 0 0 0;
}

.margin-left-right-10 {
  margin: 0 10px 0 10px;
}

.margin-top-bottom-10 {
  margin: 10px 0 10px 0;
}

.margin-10 {
  margin: 10px;
}

.padding-10 {
  padding: 10px;
}

.padding-left-10 {
  padding: 0 0 0 10px;
}

.padding-right-10 {
  padding: 0 10px 0 0;
}

.padding-bottom-10 {
  padding: 0 0 10px 0;
}

.padding-top-10 {
  padding: 10px 0 0 0;
}

.padding-left-right-10 {
  padding: 0 10px 0 10px;
}

.padding-top-bottom-10 {
  padding: 10px 0 10px 0;
}

.top-10 {
  top: 10px;
}

.top--10 {
  top: -10px;
}

.top-10p {
  top: 10%;
}

.top--10p {
  top: -10%;
}

.left-10 {
  left: 10px;
}

.left--10 {
  left: -10px;
}

.left-10p {
  left: 10%;
}

.left--10p {
  left: -10%;
}

.right-10 {
  right: 10px;
}

.right--10 {
  right: -10px;
}

.right-10p {
  top: 10%;
}

.right--10p {
  right: -10%;
}

.bottom-10 {
  bottom: 10px;
}

.bottom--10 {
  bottom: -10px;
}

.bottom-10p {
  bottom: 10%;
}

.bottom--10p {
  bottom: -10%;
}

.margin-left-15 {
  margin: 0 0 0 15px;
}

.margin-right-15 {
  margin: 0 15px 0 0;
}

.margin-bottom-15 {
  margin: 0 0 15px 0;
}

.margin-top-15 {
  margin: 15px 0 0 0;
}

.margin-left-right-15 {
  margin: 0 15px 0 15px;
}

.margin-top-bottom-15 {
  margin: 15px 0 15px 0;
}

.margin-15 {
  margin: 15px;
}

.padding-15 {
  padding: 15px;
}

.padding-left-15 {
  padding: 0 0 0 15px;
}

.padding-right-15 {
  padding: 0 15px 0 0;
}

.padding-bottom-15 {
  padding: 0 0 15px 0;
}

.padding-top-15 {
  padding: 15px 0 0 0;
}

.padding-left-right-15 {
  padding: 0 15px 0 15px;
}

.padding-top-bottom-15 {
  padding: 15px 0 15px 0;
}

.top-15 {
  top: 15px;
}

.top--15 {
  top: -15px;
}

.top-15p {
  top: 15%;
}

.top--15p {
  top: -15%;
}

.left-15 {
  left: 15px;
}

.left--15 {
  left: -15px;
}

.left-15p {
  left: 15%;
}

.left--15p {
  left: -15%;
}

.right-15 {
  right: 15px;
}

.right--15 {
  right: -15px;
}

.right-15p {
  top: 15%;
}

.right--15p {
  right: -15%;
}

.bottom-15 {
  bottom: 15px;
}

.bottom--15 {
  bottom: -15px;
}

.bottom-15p {
  bottom: 15%;
}

.bottom--15p {
  bottom: -15%;
}

.margin-left-20 {
  margin: 0 0 0 20px;
}

.margin-right-20 {
  margin: 0 20px 0 0;
}

.margin-bottom-20 {
  margin: 0 0 20px 0;
}

.margin-top-20 {
  margin: 20px 0 0 0;
}

.margin-left-right-20 {
  margin: 0 20px 0 20px;
}

.margin-top-bottom-20 {
  margin: 20px 0 20px 0;
}

.margin-20 {
  margin: 20px;
}

.padding-20 {
  padding: 20px;
}

.padding-left-20 {
  padding: 0 0 0 20px;
}

.padding-right-20 {
  padding: 0 20px 0 0;
}

.padding-bottom-20 {
  padding: 0 0 20px 0;
}

.padding-top-20 {
  padding: 20px 0 0 0;
}

.padding-left-right-20 {
  padding: 0 20px 0 20px;
}

.padding-top-bottom-20 {
  padding: 20px 0 20px 0;
}

.top-20 {
  top: 20px;
}

.top--20 {
  top: -20px;
}

.top-20p {
  top: 20%;
}

.top--20p {
  top: -20%;
}

.left-20 {
  left: 20px;
}

.left--20 {
  left: -20px;
}

.left-20p {
  left: 20%;
}

.left--20p {
  left: -20%;
}

.right-20 {
  right: 20px;
}

.right--20 {
  right: -20px;
}

.right-20p {
  top: 20%;
}

.right--20p {
  right: -20%;
}

.bottom-20 {
  bottom: 20px;
}

.bottom--20 {
  bottom: -20px;
}

.bottom-20p {
  bottom: 20%;
}

.bottom--20p {
  bottom: -20%;
}

.margin-left-25 {
  margin: 0 0 0 25px;
}

.margin-right-25 {
  margin: 0 25px 0 0;
}

.margin-bottom-25 {
  margin: 0 0 25px 0;
}

.margin-top-25 {
  margin: 25px 0 0 0;
}

.margin-left-right-25 {
  margin: 0 25px 0 25px;
}

.margin-top-bottom-25 {
  margin: 25px 0 25px 0;
}

.margin-25 {
  margin: 25px;
}

.padding-25 {
  padding: 25px;
}

.padding-left-25 {
  padding: 0 0 0 25px;
}

.padding-right-25 {
  padding: 0 25px 0 0;
}

.padding-bottom-25 {
  padding: 0 0 25px 0;
}

.padding-top-25 {
  padding: 25px 0 0 0;
}

.padding-left-right-25 {
  padding: 0 25px 0 25px;
}

.padding-top-bottom-25 {
  padding: 25px 0 25px 0;
}

.top-25 {
  top: 25px;
}

.top--25 {
  top: -25px;
}

.top-25p {
  top: 25%;
}

.top--25p {
  top: -25%;
}

.left-25 {
  left: 25px;
}

.left--25 {
  left: -25px;
}

.left-25p {
  left: 25%;
}

.left--25p {
  left: -25%;
}

.right-25 {
  right: 25px;
}

.right--25 {
  right: -25px;
}

.right-25p {
  top: 25%;
}

.right--25p {
  right: -25%;
}

.bottom-25 {
  bottom: 25px;
}

.bottom--25 {
  bottom: -25px;
}

.bottom-25p {
  bottom: 25%;
}

.bottom--25p {
  bottom: -25%;
}

.margin-left-30 {
  margin: 0 0 0 30px;
}

.margin-right-30 {
  margin: 0 30px 0 0;
}

.margin-bottom-30 {
  margin: 0 0 30px 0;
}

.margin-top-30 {
  margin: 30px 0 0 0;
}

.margin-left-right-30 {
  margin: 0 30px 0 30px;
}

.margin-top-bottom-30 {
  margin: 30px 0 30px 0;
}

.margin-30 {
  margin: 30px;
}

.padding-30 {
  padding: 30px;
}

.padding-left-30 {
  padding: 0 0 0 30px;
}

.padding-right-30 {
  padding: 0 30px 0 0;
}

.padding-bottom-30 {
  padding: 0 0 30px 0;
}

.padding-top-30 {
  padding: 30px 0 0 0;
}

.padding-left-right-30, .button.sm, .button.sm.square {
  padding: 0 30px 0 30px;
}

.padding-top-bottom-30 {
  padding: 30px 0 30px 0;
}

.top-30 {
  top: 30px;
}

.top--30 {
  top: -30px;
}

.top-30p {
  top: 30%;
}

.top--30p {
  top: -30%;
}

.left-30 {
  left: 30px;
}

.left--30 {
  left: -30px;
}

.left-30p {
  left: 30%;
}

.left--30p {
  left: -30%;
}

.right-30 {
  right: 30px;
}

.right--30 {
  right: -30px;
}

.right-30p {
  top: 30%;
}

.right--30p {
  right: -30%;
}

.bottom-30 {
  bottom: 30px;
}

.bottom--30 {
  bottom: -30px;
}

.bottom-30p {
  bottom: 30%;
}

.bottom--30p {
  bottom: -30%;
}

.margin-left-35 {
  margin: 0 0 0 35px;
}

.margin-right-35 {
  margin: 0 35px 0 0;
}

.margin-bottom-35 {
  margin: 0 0 35px 0;
}

.margin-top-35 {
  margin: 35px 0 0 0;
}

.margin-left-right-35 {
  margin: 0 35px 0 35px;
}

.margin-top-bottom-35 {
  margin: 35px 0 35px 0;
}

.margin-35 {
  margin: 35px;
}

.padding-35 {
  padding: 35px;
}

.padding-left-35 {
  padding: 0 0 0 35px;
}

.padding-right-35 {
  padding: 0 35px 0 0;
}

.padding-bottom-35 {
  padding: 0 0 35px 0;
}

.padding-top-35 {
  padding: 35px 0 0 0;
}

.padding-left-right-35, .button.md {
  padding: 0 35px 0 35px;
}

.padding-top-bottom-35 {
  padding: 35px 0 35px 0;
}

.top-35 {
  top: 35px;
}

.top--35 {
  top: -35px;
}

.top-35p {
  top: 35%;
}

.top--35p {
  top: -35%;
}

.left-35 {
  left: 35px;
}

.left--35 {
  left: -35px;
}

.left-35p {
  left: 35%;
}

.left--35p {
  left: -35%;
}

.right-35 {
  right: 35px;
}

.right--35 {
  right: -35px;
}

.right-35p {
  top: 35%;
}

.right--35p {
  right: -35%;
}

.bottom-35 {
  bottom: 35px;
}

.bottom--35 {
  bottom: -35px;
}

.bottom-35p {
  bottom: 35%;
}

.bottom--35p {
  bottom: -35%;
}

.margin-left-40 {
  margin: 0 0 0 40px;
}

.margin-right-40 {
  margin: 0 40px 0 0;
}

.margin-bottom-40 {
  margin: 0 0 40px 0;
}

.margin-top-40 {
  margin: 40px 0 0 0;
}

.margin-left-right-40 {
  margin: 0 40px 0 40px;
}

.margin-top-bottom-40 {
  margin: 40px 0 40px 0;
}

.margin-40 {
  margin: 40px;
}

.padding-40 {
  padding: 40px;
}

.padding-left-40 {
  padding: 0 0 0 40px;
}

.padding-right-40 {
  padding: 0 40px 0 0;
}

.padding-bottom-40 {
  padding: 0 0 40px 0;
}

.padding-top-40 {
  padding: 40px 0 0 0;
}

.padding-left-right-40, .button.md.square, .sb-layout .sb-current-balance {
  padding: 0 40px 0 40px;
}

.padding-top-bottom-40 {
  padding: 40px 0 40px 0;
}

.top-40 {
  top: 40px;
}

.top--40 {
  top: -40px;
}

.top-40p {
  top: 40%;
}

.top--40p {
  top: -40%;
}

.left-40 {
  left: 40px;
}

.left--40 {
  left: -40px;
}

.left-40p {
  left: 40%;
}

.left--40p, .shine:after {
  left: -40%;
}

.right-40 {
  right: 40px;
}

.right--40 {
  right: -40px;
}

.right-40p {
  top: 40%;
}

.right--40p {
  right: -40%;
}

.bottom-40 {
  bottom: 40px;
}

.bottom--40 {
  bottom: -40px;
}

.bottom-40p {
  bottom: 40%;
}

.bottom--40p {
  bottom: -40%;
}

.margin-left-45 {
  margin: 0 0 0 45px;
}

.margin-right-45 {
  margin: 0 45px 0 0;
}

.margin-bottom-45 {
  margin: 0 0 45px 0;
}

.margin-top-45 {
  margin: 45px 0 0 0;
}

.margin-left-right-45 {
  margin: 0 45px 0 45px;
}

.margin-top-bottom-45 {
  margin: 45px 0 45px 0;
}

.margin-45 {
  margin: 45px;
}

.padding-45 {
  padding: 45px;
}

.padding-left-45 {
  padding: 0 0 0 45px;
}

.padding-right-45 {
  padding: 0 45px 0 0;
}

.padding-bottom-45 {
  padding: 0 0 45px 0;
}

.padding-top-45 {
  padding: 45px 0 0 0;
}

.padding-left-right-45, .button.lg {
  padding: 0 45px 0 45px;
}

.padding-top-bottom-45 {
  padding: 45px 0 45px 0;
}

.top-45 {
  top: 45px;
}

.top--45 {
  top: -45px;
}

.top-45p {
  top: 45%;
}

.top--45p {
  top: -45%;
}

.left-45 {
  left: 45px;
}

.left--45 {
  left: -45px;
}

.left-45p {
  left: 45%;
}

.left--45p {
  left: -45%;
}

.right-45 {
  right: 45px;
}

.right--45 {
  right: -45px;
}

.right-45p {
  top: 45%;
}

.right--45p {
  right: -45%;
}

.bottom-45 {
  bottom: 45px;
}

.bottom--45 {
  bottom: -45px;
}

.bottom-45p {
  bottom: 45%;
}

.bottom--45p {
  bottom: -45%;
}

.margin-left-50 {
  margin: 0 0 0 50px;
}

.margin-right-50 {
  margin: 0 50px 0 0;
}

.margin-bottom-50 {
  margin: 0 0 50px 0;
}

.margin-top-50 {
  margin: 50px 0 0 0;
}

.margin-left-right-50 {
  margin: 0 50px 0 50px;
}

.margin-top-bottom-50 {
  margin: 50px 0 50px 0;
}

.margin-50 {
  margin: 50px;
}

.padding-50 {
  padding: 50px;
}

.padding-left-50 {
  padding: 0 0 0 50px;
}

.padding-right-50 {
  padding: 0 50px 0 0;
}

.padding-bottom-50 {
  padding: 0 0 50px 0;
}

.padding-top-50 {
  padding: 50px 0 0 0;
}

.padding-left-right-50, .button.lg.rounded {
  padding: 0 50px 0 50px;
}

.padding-top-bottom-50 {
  padding: 50px 0 50px 0;
}

.top-50 {
  top: 50px;
}

.top--50 {
  top: -50px;
}

.top-50p {
  top: 50%;
}

.top--50p {
  top: -50%;
}

.left-50 {
  left: 50px;
}

.left--50 {
  left: -50px;
}

.left-50p {
  left: 50%;
}

.left--50p {
  left: -50%;
}

.right-50 {
  right: 50px;
}

.right--50 {
  right: -50px;
}

.right-50p {
  top: 50%;
}

.right--50p {
  right: -50%;
}

.bottom-50 {
  bottom: 50px;
}

.bottom--50 {
  bottom: -50px;
}

.bottom-50p {
  bottom: 50%;
}

.bottom--50p {
  bottom: -50%;
}

.flex,
.fcols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
}

.flex.inline,
.cols.inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -moz-inline-flex;
  display: inline-flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
}

.row.wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.row.reverse.wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.column.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse nowrap;
          flex-flow: column-reverse nowrap;
}

.column.wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.column.reverse.wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse wrap;
          flex-flow: column-reverse wrap;
}

.x-content-stretch {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.y-content-stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.y-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.item-self-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.x-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.y-content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.y-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item-self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.x-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.y-content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.y-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.x-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.y-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.y-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*%x-content-space-around{
      justify-content: $val;
    }
    .x-content-space-around{
      @extend %x-content-space-around;
    }*/
.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*%x-content-space-between{
      justify-content: $val;
    }
    .x-content-space-between{
      @extend %x-content-space-between;
    }*/
.y-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.item-self-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.order-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.order-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.order-7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.order-8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.grow-0 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.shrink-1 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.grow-2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.shrink-2 {
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.grow-3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.shrink-3 {
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.grow-4 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.shrink-4 {
  -ms-flex-negative: 4;
      flex-shrink: 4;
}

.grow-5 {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

.shrink-5 {
  -ms-flex-negative: 5;
      flex-shrink: 5;
}

.grow-6 {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

.shrink-6 {
  -ms-flex-negative: 6;
      flex-shrink: 6;
}

.basis-auto {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.basis-fill {
  -ms-flex-preferred-size: fill;
      flex-basis: fill;
}

.basis-max-content {
  -ms-flex-preferred-size: max-content;
      flex-basis: max-content;
}

.basis-min-content {
  -ms-flex-preferred-size: min-content;
      flex-basis: min-content;
}

.basis-fit-content {
  -ms-flex-preferred-size: fit-content;
      flex-basis: fit-content;
}

.flex-auto-panel {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.relative, .relative-left, .relative-right, .main-wrapper,
header,
nav,
main,
section,
article, .content-wrap, .ripple, .sb-layout header .transfer-funds-btn {
  position: relative;
}

.absolute, .shine:after, footer, .full-surface, .ripple:after {
  position: absolute;
}

.fleft, .relative-left,
header,
nav,
main,
section,
article {
  float: left;
}

.fright, .relative-right {
  float: right;
}

.fnone, .content-wrap {
  float: none;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center, .button.icon {
  text-align: center;
}

.txt-justify {
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.overline {
  text-decoration: overline;
}

.underline-none, a, a.button {
  text-decoration: none;
}

.decoration-none {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.transform-normal {
  text-transform: normal;
}

.cursive {
  font-style: italic;
}

.font-style-normal {
  font-style: normal;
}

.letter-spacing--05 {
  letter-spacing: -0.5px;
}

.letter-spacing--1 {
  letter-spacing: -1px;
}

.letter-spacing-05 {
  letter-spacing: 0.5px;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.none {
  display: none;
}

.block {
  display: block;
}

.inline-block, a.button {
  display: inline-block;
}

.dtable {
  display: table;
}

.dcell {
  display: table-cell;
}

.va-baseline {
  vertical-align: baseline;
}

.va-top {
  vertical-align: top;
}

.va-middle {
  vertical-align: middle;
}

.va-bottom {
  vertical-align: bottom;
}

.top-0, .shine:after, .full-surface, .ripple:after {
  top: 0;
}

.top-50p {
  top: 50%;
}

.top--50p {
  top: -50%;
}

.bottom-0, footer {
  bottom: 0;
}

.bottom-50p {
  bottom: 50%;
}

.bottom--50p {
  bottom: -50%;
}

.left-0, footer, .full-surface, .ripple:after {
  left: 0;
}

.left-50p {
  left: 50%;
}

.left--50p {
  left: -50%;
}

.right-0 {
  right: 0;
}

.right-50p {
  right: 50%;
}

.right--50p {
  right: -50%;
}

.transition-1 {
  -webkit-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
}

.transition-035, a, .button {
  -webkit-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
}

.transition-05, .ripple span, .ripple:after, .sb-layout header, .sb-layout section, .sb-layout .sb-notification-wrap, .sb-layout footer .sb-share-links {
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-6 {
  border-radius: 6px;
}

.border-radius-7 {
  border-radius: 7px;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-9 {
  border-radius: 9px;
}

.border-radius-10 {
  border-radius: 10px;
}

.circle {
  border-radius: 50%;
}

.woow {
  -webkit-animation: woow 3s ease-in-out 0s infinite normal none;
  animation: woow 3s ease-in-out 0s infinite normal none;
}

@-webkit-keyframes woow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  55% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes woow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  55% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.zoomIn {
  -webkit-animation: zoomIn 0.5s ease-in 0s 1 normal forwards;
  animation: zoomIn 0.5s ease-in 0s 1 normal forwards;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.downIn {
  -webkit-animation: downIn 0.5s ease-in 0s 1 normal forwards;
  animation: downIn 0.5s ease-in 0s 1 normal forwards;
}

@-webkit-keyframes downIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes downIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.pulse {
  -webkit-animation: pulse 1s ease-in-out 0s infinite normal forwards;
  animation: pulse 1s ease-in-out 0s infinite normal forwards;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }
}

@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }
}

@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
}

@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes shineAnim {
  0% {
    left: -50%;
    opacity: .1;
  }
  70% {
    left: -50%;
  }
  80% {
    opacity: .2;
  }
  100% {
    left: 150%;
    opacity: 0;
  }
}

@keyframes shineAnim {
  0% {
    left: -50%;
    opacity: .1;
  }
  70% {
    left: -50%;
  }
  80% {
    opacity: .2;
  }
  100% {
    left: 150%;
    opacity: 0;
  }
}

.bounceInUp {
  -webkit-animation: bounceInUp 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1s 1 normal forwards;
  animation: bounceInUp 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1s 1 normal forwards;
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceIn {
  -webkit-animation: bounceIn 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal forwards;
  animation: bounceIn 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal forwards;
}

.bounceIn-active {
  -webkit-animation: bounceIn 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal forwards;
  animation: bounceIn 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal forwards;
}

.bounceIn-leave-active {
  -webkit-animation: bounceIn 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 reverse forwards;
  animation: bounceIn 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 reverse forwards;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.zoomIn-active {
  -webkit-animation: zoomIn 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal forwards;
  animation: zoomIn 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal forwards;
}

.zoomIn-leave-active {
  -webkit-animation: zoomIn 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 reverse forwards;
  animation: zoomIn 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 reverse forwards;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.fadeIn {
  -webkit-animation: fadeIn 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal forwards;
  animation: fadeIn 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.inDown {
  -webkit-animation: inDown 0.35s ease-in-out 0s 1 normal forwards;
  animation: inDown 0.35s ease-in-out 0s 1 normal forwards;
}

@-webkit-keyframes inDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes inDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.inUp {
  -webkit-animation: inUp 0.35s ease-in-out 0s 1 normal forwards;
  animation: inUp 0.35s ease-in-out 0s 1 normal forwards;
}

@-webkit-keyframes inUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes inUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.gradientBg {
  background-size: 400% 400% !important;
  -webkit-animation: gradientBg 15s ease 0s infinite normal none;
  animation: gradientBg 15s ease 0s infinite normal none;
}

@-webkit-keyframes gradientBg {
  0% {
    background-position: 0 center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0 center;
  }
}

@keyframes gradientBg {
  0% {
    background-position: 0 center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0 center;
  }
}

.borderAnim {
  -webkit-animation: borderAnim 15s ease-in-out 0s infinite normal none;
  animation: borderAnim 15s ease-in-out 0s infinite normal none;
}

@-webkit-keyframes borderAnim {
  0% {
    -webkit-box-shadow: 0 0 5px rgba(196, 167, 71, 0.8);
            box-shadow: 0 0 5px rgba(196, 167, 71, 0.8);
  }
  50% {
    -webkit-box-shadow: 0 0 10px rgba(240, 205, 91, 0.8);
            box-shadow: 0 0 10px rgba(240, 205, 91, 0.8);
  }
  100% {
    -webkit-box-shadow: 0 0 5px rgba(196, 167, 71, 0.8);
            box-shadow: 0 0 5px rgba(196, 167, 71, 0.8);
  }
}

@keyframes borderAnim {
  0% {
    -webkit-box-shadow: 0 0 5px rgba(196, 167, 71, 0.8);
            box-shadow: 0 0 5px rgba(196, 167, 71, 0.8);
  }
  50% {
    -webkit-box-shadow: 0 0 10px rgba(240, 205, 91, 0.8);
            box-shadow: 0 0 10px rgba(240, 205, 91, 0.8);
  }
  100% {
    -webkit-box-shadow: 0 0 5px rgba(196, 167, 71, 0.8);
            box-shadow: 0 0 5px rgba(196, 167, 71, 0.8);
  }
}

.intro-left {
  -webkit-animation: introLeft 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal forwards;
  animation: introLeft 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal forwards;
}

@-webkit-keyframes introLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-150%, 0, 0);
    transform: translate3d(-150%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes introLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-150%, 0, 0);
    transform: translate3d(-150%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.intro-left, .opacity-0, .sb-layout .sb-notification-wrap {
  opacity: 0;
}

.opacity-1, .ripple:hover span, .ripple:hover:after, button.icon:hover, .sb-layout.show-notification .sb-notification-wrap, .sb-layout.show-share-links .ripple.sb-share-button span, .sb-layout.show-share-links .ripple.sb-share-button:after, .sb-layout.show-share-links footer .sb-share-links {
  opacity: 1;
}

.bg-transparent, button.icon {
  background: transparent;
}

.opacity-box-dark {
  background: rgba(0, 0, 0, 0.9);
}

.opacity-box-white {
  background: rgba(255, 255, 255, 0.8);
}

.width-25-percent {
  width: 25%;
}

.height-25-percent {
  height: 25%;
}

.vh-25 {
  height: 25vh;
}

.vw-25 {
  width: 25vw;
}

.width-50-percent, .half-width {
  width: 50%;
}

.height-50-percent {
  height: 50%;
}

.vh-50 {
  height: 50vh;
}

.vw-50 {
  width: 50vw;
}

.width-75-percent {
  width: 75%;
}

.height-75-percent {
  height: 75%;
}

.vh-75 {
  height: 75vh;
}

.vw-75 {
  width: 75vw;
}

.width-100-percent, .full-width, .vh-100 article, .main-wrapper,
header,
main,
section,
article, .content-wrap, footer, .full-surface, .ripple:after {
  width: 100%;
}

html, body, .height-100-percent, .shine:after, .full-height, .full-surface, .ripple:after {
  height: 100%;
}

.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.width-auto {
  width: auto;
}

.height-auto, img,
video {
  height: auto;
}

.z-index-100 {
  z-index: 100;
}

.z-index-200 {
  z-index: 200;
}

.z-index-300 {
  z-index: 300;
}

.z-index-400 {
  z-index: 400;
}

.z-index-500 {
  z-index: 500;
}

.z-index-600 {
  z-index: 600;
}

.z-index-700 {
  z-index: 700;
}

.z-index-800 {
  z-index: 800;
}

.z-index-900 {
  z-index: 900;
}

.table {
  display: table;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

.shine:after {
  content: '';
  width: 30px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(240, 249, 255, 0)), color-stop(50%, white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(240, 249, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f9ff', endColorstr='#00ffffff',GradientType=1 );
  background-clip: content-box;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  opacity: .3;
  -webkit-animation: shineAnim 3s ease-out 0s infinite normal none;
  animation: shineAnim 3s ease-out 0s infinite normal none;
}

@-webkit-keyframes shineAnim {
  0% {
    left: -50%;
    opacity: .1;
  }
  70% {
    left: -50%;
  }
  80% {
    opacity: .2;
  }
  100% {
    left: 150%;
    opacity: 0;
  }
}

@keyframes shineAnim {
  0% {
    left: -50%;
    opacity: .1;
  }
  70% {
    left: -50%;
  }
  80% {
    opacity: .2;
  }
  100% {
    left: 150%;
    opacity: 0;
  }
}

.bullets-none {
  list-style: none;
}

.ellipsis, .overflow-hidden, .main-wrapper,
.main, .ripple {
  overflow: hidden;
}

.border-none, button.button {
  border: none;
}

img,
video {
  max-width: 100%;
}

input:focus,
input:required:focus,
a:focus {
  outline: 0;
}

*:focus {
  outline: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-wrapper,
main {
  min-height: 100%;
}

.content-wrap {
  max-width: 1080px;
  padding: 0 2%;
  /* @media only screen and (min-width:1300px){
    max-width:1078px;
  }
  @media only screen and (min-width:1400px){
    max-width:1085px;
  }
  @media only screen and (min-width:1600px){
    max-width:1090px;
  }
  @media only screen and (min-width:1720px){
    max-width:1095px;
  }
  @media only screen and (min-width:1810px){
    max-width:1098px;
  }
  @media only screen and (min-width:1900px){
    max-width:1100px;
  }
  @media only screen and (min-width:1990px){
    max-width:1105px;
  }*/
}

.blend-color {
  mix-blend-mode: multiply;
}

.button.rounded {
  border-radius: 50px;
}

.button.lg,
.lg.icon.circle span {
  line-height: 58px;
}

.button.lg {
  height: 58px;
}

.button.icon.lg {
  width: 58px;
}

.lg.icon.circle span {
  font-size: 45px;
}

.button.lg.rounded {
  height: 40px;
  line-height: 40px;
}

.button.lg.square {
  height: 50px;
  line-height: 50px;
}

.button.md,
.md.icon.circle span {
  line-height: 48px;
}

.button.md {
  height: 48px;
  font-size: 16px;
}

.button.icon.md {
  width: 48px;
}

.md.icon.circle span {
  font-size: 30px;
}

.button.md.rounded {
  height: 40px;
  line-height: 40px;
}

.button.md.square {
  height: 35px;
  line-height: 35px;
}

.button.sm,
.sm.icon.circle span {
  line-height: 35px;
}

.button.sm {
  height: 35px;
  font-size: 14px;
}

.button.icon.sm {
  width: 35px;
}

.sm.icon.circle span {
  font-size: 20px;
}

.button.sm.rounded {
  height: 30px;
  line-height: 30px;
}

.button.sm.square {
  height: 25px;
  line-height: 25px;
}

.ripple span {
  opacity: .6;
}

.ripple:after {
  content: '';
  -webkit-transform-origin: center center;
          transform-origin: center center;
  opacity: .4;
  -webkit-transform: scale(2);
  transform: scale(2);
  background: rgba(255, 255, 255, 0.2);
}

.ripple:hover:after {
  -webkit-transform: scale(4);
  transform: scale(4);
}

button.icon {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  opacity: .7;
}

.icon.icon-sm span {
  font-size: 25px;
}

main {
  padding: 0 0 80px 0;
}

.sb-layout {
  background: url(../images/app-bg.jpg) center 0 no-repeat #000000;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width: 1080px) {
  .sb-layout {
    background: url(../images/app-bg-mobile.jpg) center 0 no-repeat #000000;
    background-size: cover;
    background-attachment: scroll;
  }
}

.sb-layout .button.lg {
  font-size: 18px;
}

.sb-layout header {
  height: 190px;
}

@media only screen and (max-width: 980px) {
  .sb-layout header {
    height: 120px;
  }
}

.sb-layout header .sb-brand-logo {
  top: 8px;
}

@media only screen and (max-width: 980px) {
  .sb-layout header .sb-brand-logo {
    float: none;
    margin: 0 auto;
  }
  .sb-layout header .sb-brand-logo .sb-main-logo {
    width: 150px;
  }
}

.sb-layout header h1 {
  font-size: 30px;
  letter-spacing: 5px;
}

@media only screen and (max-width: 980px) {
  .sb-layout header h1 {
    font-size: 25px;
  }
}

.sb-layout header .transfer-funds-btn {
  height: 42px !important;
  border: 1px solid;
}

@media only screen and (max-width: 980px) {
  .sb-layout header .transfer-funds-btn {
    position: fixed;
    bottom: 10%;
    right: 1%;
    z-index: 100;
    padding: 0 20px;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: mobileShowBtn 1s ease-in-out 3s 1 normal forwards;
    animation: mobileShowBtn 1s ease-in-out 3s 1 normal forwards;
  }
  .sb-layout header .transfer-funds-btn .material-icons {
    top: 6px;
    display: inline-block;
  }
}

@media only screen and (max-width: 880px) {
  .sb-layout header .transfer-funds-btn {
    right: .5%;
  }
}

@media only screen and (max-width: 780px) {
  .sb-layout header .transfer-funds-btn {
    right: 1%;
  }
}

.sb-layout section {
  padding: 215px 0 100px 0;
}

@media only screen and (max-width: 980px) {
  .sb-layout section {
    padding: 140px 0;
  }
}

.sb-layout section article iframe {
  height: 560px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 680px) {
  .sb-layout section article iframe {
    height: 668px;
  }
}

.sb-layout .sb-section-iframe .content-wrap {
  max-width: 1033px;
}

@media only screen and (max-width: 1030px) {
  .sb-layout .sb-section-iframe .content-wrap {
    padding: 0 2%;
  }
}

.sb-layout .sb-section-iframe .content-wrap iframe {
  padding: 2px 3px 3px 3px;
}

.sb-layout .sb-current-balance {
  height: 42px;
  top: 10px;
  right: 2%;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(108, 207, 2, 0.9);
}

@media only screen and (max-width: 980px) {
  .sb-layout .sb-current-balance {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 680px) {
  .sb-layout .sb-current-balance {
    height: 38px;
    padding: 0 5px;
    border-radius: 5px;
    border: none;
    background: rgba(108, 207, 2, 0.3);
  }
}

.sb-layout .sb-current-balance h4 {
  font-size: 15px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.sb-layout .sb-current-balance h4 small {
  font-size: 13px;
}

.sb-layout .sb-current-balance h4 .sb-current-balance-txt {
  font-size: 10px;
}

@media only screen and (max-width: 680px) {
  .sb-layout .sb-current-balance h4 {
    font-size: 13px;
  }
  .sb-layout .sb-current-balance h4 small {
    font-size: 10px;
  }
}

@media only screen and (max-width: 440px) {
  .sb-layout .sb-current-balance h4 .sb-current-balance-txt {
    font-size: 8px;
  }
}

@media only screen and (max-width: 980px) {
  .sb-layout .sb-section-iframe .content-wrap {
    padding: 0 6.5%;
  }
}

.sb-layout .sb-notification-wrap {
  height: 100vh;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.sb-layout .sb-notification-wrap .sb-notification-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.sb-layout .sb-notification-wrap .sb-notification {
  max-width: 450px;
  width: 90%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.sb-layout .sb-notification-wrap .sb-notification h4 {
  font-size: 16px;
}

.sb-layout .sb-blur {
  height: 15px;
  -webkit-transform: translate3d(0, 85%, 0);
  transform: translate3d(0, 85%, 0);
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 40px white;
          box-shadow: 0 0 40px white;
  border-radius: 50px;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

@media only screen and (max-width: 980px) {
  .sb-layout .sb-blur {
    -webkit-transform: translate3d(0, 75%, 0);
    transform: translate3d(0, 75%, 0);
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
}

.sb-layout footer {
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
}

.sb-layout footer .sb-share-links {
  top: -30px;
  width: 115px;
  height: 35px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scaleY(0) translate3d(-22.5%, 0, 0);
  transform: scaleY(0) translate3d(-22.5%, 0, 0);
}

.sb-layout footer .sb-share-links a {
  font-size: 20px;
  opacity: .5;
}

.sb-layout footer .sb-share-links a:hover {
  opacity: 1;
}

.sb-layout.show-notification .sb-notification-wrap {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.sb-layout.sb-on-scroll header {
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
}

.sb-layout.sb-on-scroll header h1 {
  font-size: 15px;
}

.sb-layout.sb-on-scroll header .button.md.rounded {
  height: 37px;
  line-height: 35px;
}

.sb-layout.sb-on-scroll header .sb-transfer-box {
  width: auto;
}

@media only screen and (max-width: 980px) {
  .sb-layout.sb-on-scroll header {
    height: 68px;
    float: none;
    margin: 0 auto;
  }
  .sb-layout.sb-on-scroll header .content-wrap {
    display: block;
    text-align: center;
  }
  .sb-layout.sb-on-scroll header .sb-brand-logo,
  .sb-layout.sb-on-scroll header .sb-main-logo {
    width: 120px;
  }
  .sb-layout.sb-on-scroll header .sb-transfer-box {
    width: 100%;
    margin: 10px 0 0 0;
  }
  .sb-layout.sb-on-scroll header .sb-transfer-box h1 {
    font-size: 14px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  .sb-layout.sb-on-scroll header .sb-back-mobile {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@media only screen and (max-width: 980px) and (max-width: 980px) {
  .sb-layout.sb-on-scroll header .sb-back-mobile {
    top: 30%;
    left: 2%;
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, -25%, 0);
    transform: scale(1) translate3d(0, -25%, 0);
  }
  .sb-layout.sb-on-scroll header .sb-back-mobile span {
    opacity: 1 !important;
  }
}

@media only screen and (max-width: 980px) {
  .sb-layout.sb-on-scroll header .transfer-funds-btn {
    width: 45px;
    height: 45px !important;
    line-height: 45px !important;
    padding: 0;
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
  }
  .sb-layout.sb-on-scroll header .transfer-funds-btn .material-icons {
    margin: 0;
  }
  .sb-layout.sb-on-scroll header .transfer-funds-btn .btn-transfer-text {
    opacity: 0;
  }
  .sb-layout.sb-on-scroll header .sb-blur {
    height: 13px;
    -webkit-transform: translate3d(0, 45%, 0);
            transform: translate3d(0, 45%, 0);
  }
}

@media only screen and (max-width: 680px) {
  .sb-layout.sb-on-scroll header .sb-transfer-box h1 {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .sb-layout.sb-on-scroll header .transfer-funds-btn {
    width: 40px;
    height: 40px !important;
    line-height: 40px !important;
  }
}

.sb-layout.sb-on-scroll section {
  padding: 120px 0 100px 0;
}

.sb-layout.sb-on-scroll .sb-current-balance {
  right: auto;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

@media only screen and (max-width: 980px) {
  .sb-layout.sb-on-scroll .sb-current-balance {
    left: auto;
    right: 2%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.sb-layout.show-share-links .ripple.sb-share-button:after {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.sb-layout.show-share-links footer .sb-share-links {
  -webkit-transform: scaleY(1) translate3d(-22.5%, 0, 0);
  transform: scaleY(1) translate3d(-22.5%, 0, 0);
}

@-webkit-keyframes mobileShowBtn {
  0% {
    bottom: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  90% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    bottom: 10%;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes mobileShowBtn {
  0% {
    bottom: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  90% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    bottom: 10%;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*# sourceMappingURL=sbstyle.css.map */