html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
}
$percent: '%';
$prefixes: ('-webkit-', '-ms-', '-moz-');
$shadow-dark: 0 0 10px rgba(0, 0, 0, 0.9);
$shadow-white: 0 0 10px rgba(255, 255, 255, 0.9);


//fonts
$fonts:(
  arial:(Arial, Helvetica, sans-serif),
  helvetica:(Helvetica, Arial, sans-serif),
  pt-sans:("PT Sans", Arial, Helvetica, sans-serif),
  open-sans:("Open Sans", Arial, Helvetica, sans-serif),
  lato:("Lato", Arial, Helvetica, sans-serif),
  roboto:("Roboto", Arial, Helvetica, sans-serif),
  awesome:("FontAwesome"),
  awesome5:("Font Awesome 5 Free")
);

// fonts
@each $name, $font in $fonts {
    %#{$name}{
      font-family: $font;
    }
    .#{$name} {
      @extend %#{$name};
    }
}
// font weight
@for $i from 1 through 9 {
  %weight-#{$i * 100} {
    font-weight:#{$i * 100};
  }
  .weight-#{$i * 100} {
    @extend %weight-#{$i * 100};
  }
}

//line-height
%line-height-normal {
  line-height: normal;
}

.line-height-normal {
  @extend %line-height-normal;
}



//palette
// colors
$sitePalette:(
    //blue
    c1:(
        primary:#1273bc,
        secondary:#5ca1ef,
        tertiary:#00488b,
    ),
     //white
     c2:(
        primary:#f1f1f1,
        secondary:#ffffff,
        tertiary:#e6e6e2,
    ),
    //black
    c3:(
        primary:#19161c,
        secondary:#333333,
        tertiary:#000000,
    ),
    //gray
    c4:(
        primary:#e1e2e1,
        secondary:#f5f5f6,
        tertiary:#c3c7c3,
    ),
    //red
    c5:(
        primary:#a90010,
        secondary:#f7220f,
        tertiary:#720000,
    ),
    //yellow
    c6:(
        primary:#ffeb01,
        secondary:#ffff56,
        tertiary:#c7b900,
    ),
    //green
    c7:(
        primary:#60b403,
        secondary:#6ccf02,
        tertiary:#258500,
    ),
    //cyan 
    c8:(
      primary:#2191d6,
      secondary:#68c1ff,
      tertiary:#0064a4,
    ),
    //orange
    c9:(
      primary:#ff3700,
      secondary:#ff7139,
      tertiary:#c30000,
    ),
     //gray dark
     c10:(
      primary:#272727,
      secondary:#4f4f4f,
      tertiary:#303030
    ),
     //vanish
     c11:(
      primary:#c4a747,
      secondary:#f9d876,
      tertiary:#917816
    ),
);

@function setcolor($color, $tone: primary) {
  @return map-get(map-get($sitePalette, $color), $tone);
}

@mixin sitePalette($k){
   
    %normal-#{$k} {
      color: setcolor(c#{$k}, primary);
    };
    %light-#{$k} {
      color: setcolor(c#{$k}, secondary);
    };
    %dark-#{$k} {
      color: setcolor(c#{$k}, tertiary);
    };
    %bg-normal-#{$k}{
      background: setcolor(c#{$k}, primary);
    };
    %bg-light-#{$k}{
      background: setcolor(c#{$k}, secondary);
    };
    %bg-dark-#{$k}{
      background: setcolor(c#{$k}, tertiary);
    };
    %border-normal-#{$k}{
      border-color:setcolor(c#{$k}, primary);
    };
    %border-light-#{$k}{
      border-color:setcolor(c#{$k}, secondary);
    };
    %border-dark-#{$k}{
      border-color:setcolor(c#{$k}, tertiary);
    };
}

// colors set
@for $i from 1 through 11 {

  @include sitePalette($i);
  .normal-#{$i}{
    @extend %normal-#{$i};
  }
  .light-#{$i}{
    @extend %light-#{$i};
  }
  .dark-#{$i}{
    @extend %dark-#{$i};
  }
  .bg-normal-#{$i} {
    @extend %bg-normal-#{$i};
  }
  .bg-light-#{$i} {
    @extend %bg-light-#{$i};
  }
  .bg-dark-#{$i} {
    @extend %bg-dark-#{$i};
  }
  .border-normal-#{$i} {
    @extend %border-normal-#{$i};
  }
  .border-light-#{$i} {
    @extend %border-light-#{$i};
  }
  .border-dark-#{$i} {
    @extend %border-dark-#{$i};
  }
}

//box sizing
@mixin boxSizing($val) {
    @each $prefix in $prefixes {
        @if($prefix != nth($prefixes, 2)) {
            #{$prefix + box-sizing}: $val;
        }
    }
    box-sizing: $val;
}

//margin
%margin-none {
  margin:0;
}

%margin-none-important {
  margin:0!important;
}

%margin-auto {
  margin:0 auto;
}

.margin-auto {
  @extend %margin-auto;
}

.margin-none {
  @extend %margin-none;
}

.margin-none-important {
  @extend %margin-none-important;
}

// padding 
%padding-none {
  padding:0;
}

%padding-none-important{
  padding:0!important
}

.padding-none {
  @extend %padding-none;
}

.padding-none-important {
  @extend %padding-none-important;
}

html {
    @include boxSizing(border-box);
    scroll-behavior: smooth;
}
    *, *:before, *:after {
    @include boxSizing(inherit);
}

html, body {
    @extend %height-100-percent;
    @extend %margin-none;
    @extend %padding-none;
}

body {
    @extend %arial;
    @extend %weight-400;
    font-size: 62.5%;
    //overflow-y: scroll;
}

//margin - padding - positions: basic presets
@mixin margin($t,$r,$b,$l){
  margin:$t $r $b $l;
};
@mixin padding($t,$r,$b,$l){
  padding:$t $r $b $l;
};

@for $i from 1 through 10 {
  $k: $i * 5;
  %margin-left-#{$k}{
    @include margin(0, 0, 0, #{$k}px);
  }
  %margin-right-#{$k}{
    @include margin(0, #{$k}px, 0, 0);
  }
  %margin-bottom-#{$k}{
    @include margin(0, 0, #{$k}px, 0);
  }
  %margin-top-#{$k}{
    @include margin(#{$k}px, 0, 0, 0);
  }
  %margin-left-right-#{$k}{
    @include margin(0, #{$k}px, 0, #{$k}px);
  }
  %margin-top-bottom-#{$k}{
    @include margin(#{$k}px, 0, #{$k}px, 0);
  }

  %margin-#{$k} {
    margin:#{$k}px;
  }
  %padding-#{$k} {
    padding:#{$k}px;
  }

  %padding-left-#{$k}{
    @include padding(0, 0, 0, #{$k}px);
  }
  %padding-right-#{$k}{
    @include padding(0, #{$k}px, 0, 0);
  }
  %padding-bottom-#{$k}{
    @include padding(0, 0, #{$k}px, 0);
  }
  %padding-top-#{$k}{
    @include padding(#{$k}px, 0, 0, 0);
  }
  %padding-left-right-#{$k}{
    @include padding(0, #{$k}px, 0, #{$k}px);
  }
  %padding-top-bottom-#{$k}{
    @include padding(#{$k}px, 0, #{$k}px, 0);
  }

  %top-#{$k}{
    top:#{$k}px;
  }

  %top--#{$k}{
    top:-#{$k}px;
  }

  %top-#{$k}p{
    top:#{$k}#{$percent};
  }

  %top--#{$k}p{
    top:-#{$k}#{$percent};
  }

  %left-#{$k}{
    left:#{$k}px;
  }

  %left--#{$k}{
    left:-#{$k}px;
  }

  %left-#{$k}p{
    left:#{$k}#{$percent};
  }

  %left--#{$k}p{
    left:-#{$k}#{$percent};
  }

  %right-#{$k}{
    right:#{$k}px;
  }

  %right--#{$k}{
    right:-#{$k}px;
  }

  %right-#{$k}p{
    top:#{$k}#{$percent};
  }

  %right--#{$k}p{
    right:-#{$k}#{$percent};
  }

  %bottom-#{$k}{
    bottom:#{$k}px;
  }

  %bottom--#{$k}{
    bottom:-#{$k}px;
  }

  %bottom-#{$k}p{
    bottom:#{$k}#{$percent};
  }

  %bottom--#{$k}p{
    bottom:-#{$k}#{$percent};
  }

  .margin-left-#{$k}{
    @extend %margin-left-#{$k};
  }
  .margin-right-#{$k}{
    @extend %margin-right-#{$k};
  }
  .margin-left-right-#{$k}{
    @extend %margin-left-right-#{$k};
  }
  .margin-top-#{$k}{
    @extend %margin-top-#{$k};
  }
  .margin-bottom-#{$k}{
    @extend %margin-bottom-#{$k};
  }
  .margin-top-bottom-#{$k}{
    @extend %margin-top-bottom-#{$k};
  }

  .padding-left-#{$k}{
    @extend %padding-left-#{$k};
  }
  .padding-right-#{$k}{
    @extend %padding-right-#{$k};
  }
  .padding-left-right-#{$k}{
    @extend %padding-left-right-#{$k};
  }
  .padding-top-#{$k}{
    @extend %padding-top-#{$k};
  }
  .padding-bottom-#{$k}{
    @extend %padding-bottom-#{$k};
  }
  .padding-top-bottom-#{$k}{
    @extend %padding-top-bottom-#{$k};
  }

  .margin-#{$k} {
    @extend %margin-#{$k};
  }
  .padding-#{$k} {
    @extend %padding-#{$k};
  }

  .top-#{$k} {
    @extend %top-#{$k};
  }

  .top--#{$k} {
    @extend %top--#{$k};
  }

  .top-#{$k}p {
    @extend %top-#{$k}p;
  }
  .top--#{$k}p {
    @extend %top--#{$k}p;
  }

  .left-#{$k} {
    @extend %left-#{$k};
  }

  .left--#{$k} {
    @extend %left--#{$k};
  }

  .left-#{$k}p {
    @extend %left-#{$k}p;
  }
  .left--#{$k}p {
    @extend %left--#{$k}p;
  }

  .right-#{$k} {
    @extend %right-#{$k};
  }

  .right--#{$k} {
    @extend %right--#{$k};
  }

  .right-#{$k}p {
    @extend %right-#{$k}p;
  }
  .right--#{$k}p {
    @extend %right--#{$k}p;
  }

  .bottom-#{$k} {
    @extend %bottom-#{$k};
  }

  .bottom--#{$k} {
    @extend %bottom--#{$k};
  }

  .bottom-#{$k}p {
    @extend %bottom-#{$k}p;
  }
  .bottom--#{$k}p {
    @extend %bottom--#{$k}p;
  }
} 
// flexbox
$flexContainer:();
$inlineFlexContainer:();
$flexDirection: ( 
  row:row, 
  row-reverse:row-reverse, 
  column:column, 
  column-reverse:column-reverse, 
);
$flexFlow:(
  row:row nowrap, 
  row-reverse:row-reverse nowrap, 
  row-wrap:row wrap, 
  row-reverse-wrap:row-reverse wrap, 
  column:column nowrap, 
  column-reverse:column-reverse nowrap, 
  column-wrap:column wrap, 
  column-reverse-wrap:column-reverse wrap, 
);
$flexWrapPos: ( 
  stretch:stretch,
  start:flex-start, 
  end:flex-end, 
  center:center, 
  space-around:space-around,
  space-between:space-between,
  baseline:baseline,
);
$flexBasis: ( 
  auto:auto,
  fill:fill, 
  max-content:max-content, 
  min-content:min-content, 
  fit-content:fit-content,
);

//flexContainer
@each $prefix in $prefixes {
    @if($prefix == nth($prefixes, 1) or $prefix == nth($prefixes, 3)){
      $flexContainer: append($flexContainer, #{$prefix + box});
      $flexContainer: append($flexContainer, #{$prefix + flex});
  
      $inlineFlexContainer: append($inlineFlexContainer, #{$prefix + inline-box});
      $inlineFlexContainer: append($inlineFlexContainer, #{$prefix + inline-flex});
  
    }@else {
      $flexContainer: append($flexContainer, #{$prefix + flexbox});
  
      $inlineFlexContainer: append($inlineFlexContainer, #{$prefix + inline-flexbox});
    }
  }
  $flexContainer: append($flexContainer, flex);
  $inlineFlexContainer: append($inlineFlexContainer, inline-flex);
  @mixin flexbox {
    @each  $val in $flexContainer{
      $i: index($flexContainer, $val);
        display: $val;
      }
  } 
  @mixin inlineFlexbox {
    @each  $val in $inlineFlexContainer{
      $i: index($inlineFlexContainer, $val);
        display: $val;
      }
  }
  
  //flex direction
  @mixin flexDirection($dir){
    @each $name, $val in $flexDirection{
      $i: index($flexDirection, $name $val);
        @if($dir == 'row'){
          @if($i < 2){
            flex-direction:#{$val}
          }
        }@else if($dir == 'row-reverse'){
          @if($i == 2){
            flex-direction:#{$val}
          }
        }@else if ($dir == 'column'){
          @if($i == 3){
            flex-direction:#{$val}
          }
        }@else {
          @if($i > 3){
            flex-direction:#{$val}
          }
        }
    }
}
  
//flex flow
@mixin flexFlow($dir, $wrap){
@each $name, $val in $flexFlow{
    $i: index($flexFlow, $name $val);
    @if($dir == 'row' and $wrap == 'nowrap'){
        @if($i < 2){
        flex-flow:#{$val}
        }
    }@else if($dir == 'row-reverse' and $wrap == 'nowrap'){
        @if($i == 2){
        flex-flow:#{$val}
        }
    }@else if ($dir == 'row' and $wrap == 'wrap'){
        @if($i == 3){
        flex-flow:#{$val}
        }
    }@else if ($dir == 'row-reverse' and $wrap == 'wrap'){
        @if($i == 4){
        flex-flow:#{$val}
        }
    }@else if($dir == 'column' and $wrap == 'nowrap'){
        @if($i == 5){
        flex-flow:#{$val}
        }
    }@else if($dir == 'column-reverse' and $wrap == 'nowrap'){
        @if($i == 6){
        flex-flow:#{$val}
        }
    }@else if($dir == 'column' and $wrap == 'wrap'){
        @if($i == 7){
        flex-flow:#{$val}
        }
    }@else {
        @if($i > 7){
        flex-flow:#{$val}
        }
    }
  }
}

// flex .basis
@mixin customFlexBasis($val){
flex-basis:$val;
}

//flexbox implement
//flex container
%flexbox {@include flexbox;}
%inlineFlexbox {@include inlineFlexbox;}
.flex,
.fcols {
  @extend %flexbox;
}
.flex.inline,
.cols.inline {
  @extend %inlineFlexbox;
}
%flexRowNowrap {@include flexFlow(row, nowrap);}
%flexRowReverseNowrap {@include flexFlow(row-reverse, nowrap);}
%flexRowWrap {@include flexFlow(row, wrap);}
%flexRowReverseWrap {@include flexFlow(row-reverse, wrap);}
.row {
  @extend %flexRowNowrap;
}
.row.reverse {
  @extend %flexRowReverseNowrap;
}
.row.wrap {
  @extend %flexRowWrap;
}
.row.reverse.wrap {
  @extend %flexRowReverseWrap;
}
%flexColumnNowrap {@include flexFlow(column, nowrap);}
%flexColumnReverseNowrap {@include flexFlow(column-reverse, nowrap);}
%flexColumnWrap {@include flexFlow(column, wrap);}
%flexColumnReverseWrap {@include flexFlow(column-reverse, wrap);}
.column {
  @extend %flexColumnNowrap;
}
.column.reverse {
  @extend %flexColumnReverseNowrap;
}
.column.wrap {
  @extend %flexColumnWrap;
}
.column.reverse.wrap {
  @extend %flexColumnReverseWrap;
}

//flex justify
@each $name, $val in $flexWrapPos{
  $i: index($flexWrapPos, $name $val);
  @if($i < 5){
    %x-content-#{$name}{
      justify-content: $val;
    }
    .x-content-#{$name}{
      @extend %x-content-#{$name};
    }

    %y-content-#{$name}{
      align-content:$val; 
    }

    .y-content-#{$name}{
      @extend %y-content-#{$name};
    }

    %y-items-#{$name}{
      align-items:$val; 
    }

    .y-items-#{$name}{
      @extend %y-items-#{$name};
    }
    
    %item-self-#{$name}{
      align-self:$val; 
    }

    .item-self-#{$name}{
      @extend %item-self-#{$name};
    }

  }@else if($i == 5 or $i == 6){
    %#{$name}{
      justify-content: $val;
    }
    .#{$name}{
      @extend %#{$name};
    }
    /*%x-content-#{$name}{
      justify-content: $val;
    }
    .x-content-#{$name}{
      @extend %x-content-#{$name};
    }*/
  }@else{
    %y-items-#{$name}{
      align-items:$val; 
    }

    .y-items-#{$name}{
      @extend %y-items-#{$name};
    }

    %item-self-#{$name}{
      align-self:$val; 
    }

    .item-self-#{$name}{
      @extend %item-self-#{$name};
    }
  } 
}

//flex order
@for $i from 1 through 8 {
  .order-#{$i}{
    order:#{$i};
  }
}

@for $i from 0 through 6 {
  .grow-#{$i}{
    flex-grow:#{$i}
  }

  .shrink-#{$i}{
    flex-shrink:#{$i}
  }

}

// flex basis
@each $name, $val in $flexBasis{
  %basis-#{$name}{
    flex-basis:#{$val};
  }

  .basis-#{$name}{
    @extend %basis-#{$name};
  }
}

.flex-auto-panel {
  flex:1 1 auto;
}

//positions
$positions: (
  static:static,
  fixed:fixed,
  relative:relative,
  absolute:absolute,
  fleft:left,
  fright:right,
  fnone:none
);
// positions
@each $name, $pos in $positions{

    $i: index($positions, $name $pos);
    @if ($i < 5){
      %#{$name}{
        position:$pos;
      }
    }@else {
      %#{$name}{
        float:$pos;
      }
    }
    .#{$name}{
      @extend %#{$name};
    }
} 

//text positions
$txt:(
  txt-left:left,
  txt-right:right,
  txt-center:center,
  txt-justify:justify,
  underline:underline,
  line-through:line-through,
  overline:overline,
  underline-none:none,
  decoration-none:none,
  uppercase:uppercase,
  lowercase:lowercase,
  capitalize:capitalize,
  transform-normal:normal,
  cursive:italic,
  font-style-normal:normal,
  letter-spacing--05:-.5px,
  letter-spacing--1:-1px,
  letter-spacing-05:.5px,
  letter-spacing-1:1px
);

@each $name, $prop in $txt{

    $i: index($txt, $name $prop);
    @if ($i <= 4){
      %#{$name}{
        text-align:$prop;
      }
    }@else if($i == 5 or $i <= 9){
      %#{$name}{
        text-decoration: $prop;
      } 
    }@else if($i == 10 or $i <= 13){
      %#{$name}{
        text-transform: $prop;
      }
    }@else if($i == 14 or $i <= 15){
      %#{$name}{
        font-style: $prop;
      }
    }@else {
      %#{$name}{
        letter-spacing: $prop;
      } 
    }
    .#{$name}{
      @extend %#{$name};
    }
} 
  
//display type
$displayType:(
  none:none,
  block:block,
  inline-block:inline-block,
  dtable:table,
  dcell:table-cell,
  va-baseline:baseline,
  va-top:top,
  va-middle:middle,
  va-bottom:bottom
);
@each $name, $display in $displayType{

    $i: index($displayType, $name $display);
  
    @if($i <= 5){
      %#{$name}{
        display:$display;
      }
    }@else{
      %#{$name}{
        vertical-align:$display;
      }
    }
  
    .#{$name}{
      @extend %#{$name};
    }
}

//basic pos
$basicPos:(
  top-0:0,
  top-50p:50%,
  top--50p:-50%,
  bottom-0:0,
  bottom-50p:50%,
  bottom--50p:-50%,
  left-0:0,
  left-50p:50%,
  left--50p:-50%,
  right-0:0,
  right-50p:50%,
  right--50p:-50%,
);

@each $name, $bpos in $basicPos{
  $i: index($basicPos, $name $bpos);
  @if($i <= 3){
    %#{$name}{
      top:$bpos;
    }
  }@else if($i == 4 or $i <= 6){
    %#{$name}{
      bottom:$bpos;
    }
  }@else if($i == 7 or $i <= 9){
    %#{$name}{
      left:$bpos;
    }
  }@else{
    %#{$name}{
      right:$bpos;
    }
  }
 
  .#{$name}{
    @extend %#{$name};
  }
} 

// transition 
@mixin transition($property, $duration, $timing, $delay) {
    @each $prefix in $prefixes {
        @if($prefix != nth($prefixes, 2)) {
            #{$prefix + transition}: $property $duration $timing $delay;
        }
    }
    transition: $property $duration $timing $delay;
}
  
@mixin transition-property($property) {
    @each $prefix in $prefixes {
        @if($prefix != nth($prefixes, 2)) {
            #{$prefix + transition-property}: $property;
        }
    }
    transition-property: $property;
}
  
@mixin transition-property-2($property1,$property2) {
    @each $prefix in $prefixes {
        @if($prefix != nth($prefixes, 2)) {
            #{$prefix + transition-property}: $property1, $property2;
        }
    }
    transition-property: $property1, $property2;
}

@mixin transition-property-3($property1,$property2,$property3) {
    @each $prefix in $prefixes {
        @if($prefix != nth($prefixes, 2)) {
            #{$prefix + transition-property}: $property1, $property2, $property3;
        }
    }
    transition-property: $property1, $property2, $property3;
}
  
@mixin transition-duration($duration) {
    @each $prefix in $prefixes {
        @if($prefix != nth($prefixes, 2)) {
            #{$prefix + transition-duration}: $duration;
        }
    }
    transition-duration: $duration;
}
  
@mixin transition-duration-2($duration1,$duration2) {
    @each $prefix in $prefixes {
        @if($prefix != nth($prefixes, 2)) {
            #{$prefix + transition-duration}: $duration1, $duration2;
        }
    }
    transition-duration: $duration1, $duration2;
}
  
@mixin transition-duration-3($duration1,$duration2,$duration3) {
    @each $prefix in $prefixes {
        @if($prefix != nth($prefixes, 2)) {
            #{$prefix + transition-duration}: $duration1, $duration2, $duration3;
        }
    }
    transition-duration: $duration1, $duration2, $duration3;
}
  
// transition delay
@mixin transition-delay($delay) {
    @each $prefix in $prefixes {
        @if($prefix != nth($prefixes, 2)) {
            #{$prefix + transition-delay}: $delay;
        }
    }
    transition-delay: $delay;
}

//presets
%transition-1 {
  @include transition(all, 1s, ease-in-out, 0s);
}

%transition-035 {
  @include transition(all, .35s, ease-in-out, 0s);
}

%transition-05 {
  @include transition(all, .5s, ease-in-out, 0s);
}

.transition-1 {
  @extend %transition-1;
}

.transition-05 {
  @extend %transition-05;
}

.transition-035 {
  @extend %transition-035;
}

//border radius
@mixin borderRadius($radius) {
  @each $prefix in $prefixes {
      @if($prefix != nth($prefixes, 2)) {
          #{$prefix + border-radius}: $radius;
          #{$prefix}border-radius:$radius;
      }
  }
  border-radius: $radius;
}

@mixin customRadius($top-left, $top-right, $bottom-right, $bottom-left) {
  @each $prefix in $prefixes {
      @if($prefix != nth($prefixes, 2)) {
          #{$prefix + border-radius}: $top-left $top-right $bottom-right $bottom-left;
      }
  }
  border-radius: $top-left $top-right $bottom-right $bottom-left;
}

//presets
@for $i from 4 through 10 {

  %border-radius-#{$i}{
    @include borderRadius(#{$i}px);
  }

  .border-radius-#{$i}{
    @extend %border-radius-#{$i};
  } 
}

%circle {
  @include borderRadius(50%);
}

.circle{
  @extend %circle;
}

// half circle
@mixin halfCircle($direction, $size){
  $csize:$size * 2;
  @if($direction == 'left'){
    width: $size;
    height: $csize;
    border-radius: $csize 0 0 $csize;
  }@else if($direction == 'right'){
    width: $size;
    height: $csize;
    border-radius: 0 $csize $csize 0;
  }@else if($direction == 'top'){
    width: $csize;
    height: $size;
    border-radius: $csize $csize 0 0; 
  }@else{
    width: $csize;
    height: $size;
    border-radius: 0 0 $csize $csize;
  }
}

// transform
@mixin transform($transform) {
  @each $prefix in $prefixes {
    #{$prefix + transform}: $transform;
  }
  transform: $transform;
}

@mixin transform-2($transform-1, $transform-2) {
  @each $prefix in $prefixes {
    #{$prefix + transform}:$transform-1 $transform-2;
  }
  transform: $transform-1 $transform-2;
}

@mixin transform-3($transform-1, $transform-2,  $transform-3) {
  @each $prefix in $prefixes {
    #{$prefix + transform}:$transform-1 $transform-2 $transform-3;
  }
  transform: $transform-1 $transform-2 $transform-3;
}

// keyframes
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
      @content;
  }

  @-ms-keyframes #{$name} {
      @content;
  }

  @-moz-keyframes #{$name} {
      @content;
  }

  @keyframes #{$name} {
      @content;
  }
}

//animation
@mixin animation($animName, $duration, $timing, $delay, $iterationCount, $direction, $fillMode) {
  @each $prefix in $prefixes {
      @if($prefix != nth($prefixes, 2)) {
          #{$prefix + animation}: $animName $duration $timing $delay $iterationCount $direction $fillMode;
      }
  }
  animation: $animName $duration $timing $delay $iterationCount $direction $fillMode;
}

@mixin animationDuration($duration) {
  @each $prefix in $prefixes {
      @if($prefix != nth($prefixes, 2)) {
          #{$prefix + animation-duration}: $duration;
      }
  }
  animation-duration: $duration;
}

@mixin animationTiming($timing) {
  @each $prefix in $prefixes {
      @if($prefix != nth($prefixes, 2)) {
          #{$prefix + animation-timing-function}: $timing;
      }
  }
  animation-timing-function: $timing;
}

@mixin animationDelay($delay) {
  @each $prefix in $prefixes {
      @if($prefix != nth($prefixes, 2)) {
          #{$prefix + animation-delay}: $delay;
      }
  }
  animation-delay: $delay;
}

@mixin animationIterationCount($iterationCount) {
  @each $prefix in $prefixes {
      @if($prefix != nth($prefixes, 2)) {
          #{$prefix + animation-iteration-count}: $iterationCount;
      }
  }
  animation-iteration-count: $iterationCount;
}

@mixin animationLoop($loop) {
  @each $prefix in $prefixes {
      @if($prefix != nth($prefixes, 2)) {
          #{$prefix + animation-iteration-count}: $loop;
      }
  }
  animation-iteration-count: $loop;
}

@mixin animationDirection($direction) {
  @each $prefix in $prefixes {
      @if($prefix != nth($prefixes, 2)) {
          #{$prefix + animation-direction}: $direction;
      }
  }
  animation-direction: $direction;
}

@mixin animationFillMode($fillMode) {
  @each $prefix in $prefixes {
      @if($prefix != nth($prefixes, 2)) {
          #{$prefix + animation-fill-mode}: $fillMode;
      }
  }
  animation-fill-mode: $fillMode;
}

@mixin animationPlayState($playState) {
  @each $prefix in $prefixes {
      @if($prefix != nth($prefixes, 2)) {
          #{$prefix + animation-play-state}: $playState;
      }
  }
  animation-play-state: $playState;
}

//animations presets
//animations
.woow {
  @include animation(woow, 3s, ease-in-out, 0s, infinite, normal, none);
}

@include keyframes(woow){
  0%{
    @include transform(scale(1));
  }
  45%{
    @include transform(scale(1));
  }
  50%{
    @include transform(scale(1.1));
  }
  55%{
    @include transform(scale(1.1));
  }
  60%{
    @include transform(scale(1));
  }
  100%{
    @include transform(scale(1));
  }
}

.zoomIn {
  @include animation(zoomIn, .5s, ease-in, 0s, 1, normal, forwards);
}

@include keyframes(zoomIn){
  0% {
    opacity:0;
    @include transform(scale(0));
  }
  100% {
    opacity:1;
    @include transform(scale(1));
  }
}
.downIn {
  @include animation(downIn, .5s, ease-in, 0s, 1, normal, forwards);
}
  
@include keyframes(downIn){
  0% {
    opacity:0;
    @include transform(translate3d(0,-100%,0));
  }
  100% {
    opacity:1;
    @include transform(translate3d(0,0,0));
  }
}
  
.pulse {
  @include animation(pulse, 1s, ease-in-out, 0s, infinite, normal, forwards);
};

@include keyframes(pulse){
  0% {
    @include transform(scale(1));
  }
  50%{
    @include transform(scale(1.2));
  }
  100%{
    @include transform(scale(1));
  }
};

@include keyframes(bounceOutUp){
  20% {
    transform: translate3d(0, -10px, 0);
  }

  40%,
  45% {
    opacity:1;
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
};

@include keyframes(bounceOutDown){
  20% {
    transform: translate3d(0, 10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }


};
@include keyframes(fadeOut){
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
};
@include keyframes(bounceInDown){
  0% {
    opacity: 0;
    @include transform(translate3d(0, -3000px, 0));
  }

  60% {
    opacity: 1;
    @include transform(translate3d(0, 25px, 0));
  }

  75% {
    @include transform(translate3d(0, -10px, 0));
  }

  90% {
    @include transform(translate3d(0, 5px, 0));
  }

  100% {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }
};

@include keyframes(shineAnim){
  0% {
    left:-50%;
    opacity:.1;
  }
  70%{
      left:-50%;
  }
  80%{
      opacity:.2;
  }
  100% {
    left:150%;
    opacity:0;
  }
};

.bounceInUp {
  @include animation(bounceInUp, 1s, cubic-bezier(0.215, 0.61, 0.355, 1), 1s, 1, normal, forwards);
}

@include keyframes(bounceInUp){
  0% {
    opacity: 0;
    @include transform(translate3d(0, 3000px, 0));
  }

  60% {
    opacity: 1;
    @include transform(translate3d(0, -20px, 0));
  }

  75% {
    @include transform(translate3d(0, 10px, 0));
  }

  90% {
    @include transform(translate3d(0, -5px, 0));
  }

  100% {
    opacity:1;
    @include transform(translate3d(0, 0, 0));
  }
}

.bounceIn {
  @include animation(bounceIn, 1s, cubic-bezier(0.215, 0.61, 0.355, 1), 0s, 1, normal, forwards);
}

.bounceIn-active {
  @include animation(bounceIn, .35s, cubic-bezier(0.215, 0.61, 0.355, 1), 0s, 1, normal, forwards);
}
.bounceIn-leave-active {
  @include animation(bounceIn, .35s, cubic-bezier(0.215, 0.61, 0.355, 1), 0s, 1, reverse, forwards);
}

@include keyframes(bounceIn){
  0% {
    opacity: 0;
    @include transform(scale3d(0.3, 0.3, 0.3));
  }

  20% {
    @include transform(scale3d(1.1, 1.1, 1.1));
  }

  40% {
    @include transform(scale3d(0.9, 0.9, 0.9));
  }

  60% {
    opacity: 1;
    @include transform(scale3d(1.03, 1.03, 1.03));
  }

  80% {
    @include transform(scale3d(0.97, 0.97, 0.97));
  }

  100%  {
    opacity: 1;
    @include transform(scale3d(1, 1, 1));
  }
  
}

.zoomIn-active {
  @include animation(zoomIn, .35s, cubic-bezier(0.215, 0.61, 0.355, 1), 0s, 1, normal, forwards);
}

.zoomIn-leave-active {
  @include animation(zoomIn, .35s, cubic-bezier(0.215, 0.61, 0.355, 1), 0s, 1, reverse, forwards);
}

@include keyframes(zoomIn){
  0%{
    opacity:0;
    @include transform(scale(0));
  }
  100%{
    opacity:1;
    @include transform(scale(1));
  }
}

.fadeIn {
  @include animation(fadeIn, 1s, cubic-bezier(0.215, 0.61, 0.355, 1), 0s, 1, normal, forwards);
}

@include keyframes(fadeIn){
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.inDown {
  @include animation(inDown, .35s, ease-in-out, 0s, 1, normal, forwards);
}

@include keyframes(inDown){
  0% {
    opacity: 0;
    @include transform(translate3d(0,-100%,0));
  }
  100% {
    opacity: 1;
    @include transform(translate3d(0,0,0));
  }
}

.inUp {
  @include animation(inUp, .35s, ease-in-out, 0s, 1, normal, forwards);
}

@include keyframes(inUp){
  0% {
    opacity: 0;
    @include transform(translate3d(0,100%,0));
  }
  100% {
    opacity: 1;
    @include transform(translate3d(0,0,0));
  }
}

// gradient bg
.gradientBg {
  background-size: 400% 400%!important;
  @include animation(gradientBg, 15s, ease, 0s, infinite, normal, none);
}

@include keyframes(gradientBg){
  0% {
		background-position: 0 center;
	}
	50% {
		background-position: 100% center;
	}
	100% {
		background-position: 0 center;
	}
}

//border anim
.borderAnim {
  @include animation(borderAnim, 15s, ease-in-out, 0s, infinite, normal, none);    
}

@include keyframes(borderAnim){
  0% {
    box-shadow: 0 0 5px rgba(196,167,71,.8);
  }
  50% {
    box-shadow: 0 0 10px rgba(240, 205, 91, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(196,167,71,.8);
  }
}

//intros
.intro-left {
  @extend %opacity-0;
  @include animation(introLeft, .5s, cubic-bezier(0.215, 0.61, 0.355, 1), 0s, 1, normal, forwards);
}

@include keyframes(introLeft){
  0% {
   opacity: 0;
   @include transform(translate3d(-150%,0,0));
  }
  100% {
    opacity: 1;
    @include transform(translate3d(0,0,0));
  }
}

//responsive
$screen-xsm: 390px;
$screen-sm: 480px;
$screen-smd: 680px;
$screen-md: 780px;
$screen-xmd: 980px;
$screen-slg: 1024px;
$screen-lg: 1080px;
$screen-xlm: 1180px;
$screen-xl: 1280px;

@mixin sm {
  @media (max-width: #{$screen-sm}) {
      @content;
  }
}
@mixin smd {
  @media only screen and (max-width: #{$screen-smd}) {
      @content;
  }
}
@mixin xsm {
  @media (max-width: #{$screen-xsm}) {
      @content;
  }
}
@mixin md {
  @media only screen and (max-width: #{$screen-md}) {
      @content;
  }
}
@mixin xmd {
  @media only screen and (max-width: #{$screen-xmd}) {
      @content;
  }
}
@mixin slg {
  @media only screen and (max-width: #{$screen-slg}) {
      @content;
  }
}
@mixin lg {
  @media only screen and (max-width: #{$screen-lg}) {
      @content;
  }
}
@mixin xl {
  @media only screen and (max-width: #{$screen-xl}) {
      @content;
  }
}
@mixin xlm {
  @media only screen and (max-width: #{$screen-xlm}) {
      @content;
  }
}

// opacity
@mixin bgOpacity($red, $green, $blue, $opacity){
  background:rgba($red, $green, $blue, $opacity);
}

//presets
%opacity-0 {
  opacity: 0;
}

%opacity-1 {
  opacity: 1;
}

%bg-transparent {
  background: transparent;
}

%bg-transparent-important {
  background: transparent!important;
}

//oapcity bg - presets
%opacity-box-dark {
  @include bgOpacity(0, 0, 0, .9);
}
%opacity-box-white {
  @include bgOpacity(255, 255, 255, .8);
}
.opacity-box-dark {
  @extend %opacity-box-dark;
}
.opacity-box-white {
  @extend %opacity-box-white;
}

.bg-transparent {
  @extend %bg-transparent;
}

.opacity-0 {
  @extend %opacity-0;
}

.opacity-1 {
  @extend %opacity-1;
}

//width and height
@for $i from 1 through 5 {
  @if ($i < 5){
    $k: $i * 25;
    %width-#{$k}-percent{
      width:#{$k+$percent};
    };
    %height-#{$k}-percent{
      height:#{$k+$percent};
    };
    .width-#{$k}-percent {
      @extend %width-#{$k}-percent;
    }
    .height-#{$k}-percent {
      @extend %height-#{$k}-percent;
    }
    %vh-#{$k}{
      height:#{$k}vh;
    };
    .vh-#{$k} {
      @extend %vh-#{$k};
    }   
    %vw-#{$k}{
      width:#{$k}vw;
    };
    .vw-#{$k} {
      @extend %vw-#{$k};
    }      
  }@else {
    %width-auto {
      width:auto;
    };
    %height-auto {
      height:auto;
    }
    .width-auto {
      @extend %width-auto;
    }
    .height-auto {
      @extend %height-auto;
    }
  } 
}

//z-index
@for $i from 1 through 9 {
  $k: $i * 100;
  %z-index-#{$k}{
    z-index:$k;
  }

  .z-index-#{$k}{
    @extend  %z-index-#{$k};
  } 
}

// table cell
%table {
    display:table;
}

%cell {
    display:table-cell;
    vertical-align: middle;
}

.table {
    @extend %table;
}

.cell {
    @extend %cell;
}

//shine
// shine
.shine:after {
    content:'';
    @extend %absolute;
    @extend %top-0;
    @extend %left--40p;
    width:30px;
    @extend %height-100-percent;
    background:-moz-linear-gradient(left, rgba(240,249,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background:-webkit-linear-gradient(left, rgba(240,249,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); 
    background:linear-gradient(to right, rgba(240,249,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f9ff', endColorstr='#00ffffff',GradientType=1 ); 
    background-clip: content-box;
    @include transform(skewX(-10deg));
    opacity:.3;
    @include animation(shineAnim, 3s, ease-out, 0s, infinite, normal, none);
}

@include keyframes(shineAnim){
    0% {
      left:-50%;
      opacity:.1;
    }
    70%{
        left:-50%;
    }
    80%{
        opacity:.2;
    }
    100% {
      left:150%;
      opacity:0;
    }
};
  



//global styles
%pointer {
    cursor: pointer;
}
  
%bullets-none{
    list-style: none;
}
  
%overflow-hidden {
    overflow: hidden;
} 
  
%border-none {
    border:none;
}

// background clip 
@mixin backgroundClip($param) {
    @each $prefix in $prefixes {
        @if($prefix != nth($prefixes, 2)) {
            #{$prefix + background-clip}: $param;
        }
    }
    background-clip: $param;
}

img,
video {
    max-width: 100%;
    @extend %height-auto;
}

input:focus,
input:required:focus,
a:focus {
    outline: 0;
}
*:focus {outline:none};

@for $i from 1 through 5 {
    h#{$i}{
        @extend %weight-400;
    }
}

strong  {
    @extend %weight-400;
}

input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    @extend %transition-035;
    @extend %underline-none;
}

// ellipsis
%ellipsis {
    text-overflow:ellipsis;
    white-space: nowrap;
    @extend %overflow-hidden;
}

.ellipsis {
    @extend %ellipsis;
}

.relative-left {
    @extend %relative;
    @extend %fleft;
}

.relative-right {
    @extend %relative;
    @extend %fright;
}

.full-width {
    @extend %width-100-percent;
}

.half-width {
    @extend %width-50-percent;
}

.full-height {
    @extend %height-100-percent;
}

.vh-100 article {
    @extend %width-100-percent;
}

.bullets-none {
@extend %bullets-none;
}
  
.overflow-hidden {
    @extend %overflow-hidden;
}

.border-none {
    @extend %border-none;
}
  
//main tags
.main-wrapper,
header,
nav,
main,
section,
article{
  @extend %relative;
}

header,
nav,
main,
section,
article{
    @extend %fleft;
}

.main-wrapper,
header,
main,
section,
article,
.content-wrap,
footer {
    @extend %width-100-percent;
}
   
footer  {
    @extend %absolute;
    @extend %left-0;
    @extend %bottom-0;
}

.main-wrapper,
.main {
  @extend %overflow-hidden;
}

.main-wrapper,
main {
  min-height:100%;
}

.content-wrap {
  @extend %relative;
  max-width:1080px;
  padding:0 2%;
  @extend %fnone;
  @extend %margin-auto;
 /* @media only screen and (min-width:1300px){
    max-width:1078px;
  }
  @media only screen and (min-width:1400px){
    max-width:1085px;
  }
  @media only screen and (min-width:1600px){
    max-width:1090px;
  }
  @media only screen and (min-width:1720px){
    max-width:1095px;
  }
  @media only screen and (min-width:1810px){
    max-width:1098px;
  }
  @media only screen and (min-width:1900px){
    max-width:1100px;
  }
  @media only screen and (min-width:1990px){
    max-width:1105px;
  }*/
}

%blend-color {
  mix-blend-mode: multiply;
}

.blend-color {
    @extend %blend-color;
}

.full-surface {
    @extend %absolute;
    @extend %top-0;
    @extend %left-0;
    @extend %width-100-percent;
    @extend %height-100-percent;
}

// button
.button {
  @extend %light-2;
  @extend %weight-500;
  @extend %transition-035;
}

.button.rounded {
  @include borderRadius(50px);
}

.button.lg,
.lg.icon.circle span {
  line-height: 58px;
}

.button.lg {
  height:58px;
  @extend %padding-left-right-45;
}

.button.icon.lg {
  width:58px;
}

.lg.icon.circle span {
  font-size:45px;
}

.button.lg.rounded  {
  height:40px;
  line-height: 40px;
  @extend %padding-left-right-50;
}

.button.lg.square  {
  height:50px;
  line-height: 50px;
}

.button.md,
.md.icon.circle span {
  line-height: 48px;
}

.button.md {
  height:48px;
  font-size:16px;
  @extend %padding-left-right-35;
}

.button.icon.md {
  width:48px;
}

.md.icon.circle span {
  font-size:30px;
}

.button.md.rounded {
  height:40px;
  line-height: 40px;
}

.button.md.square  {
  height:35px;
  line-height: 35px;
  @extend %padding-left-right-40;
}

.button.sm,
.sm.icon.circle span {
  line-height: 35px;
}

.button.sm {
  height:35px;
  font-size:14px;
  @extend %padding-left-right-30;
}

.button.icon.sm {
  width:35px;
}

.sm.icon.circle span {
  font-size:20px;
}

.button.sm.rounded  {
  height:30px;
  line-height: 30px;
}

.button.sm.square  {
  height:25px;
  line-height: 25px;
  @extend %padding-left-right-30;
}

.button.gray {
  @extend %bg-normal-10;
  &:hover {
    @extend %bg-dark-10;
  }
}

.button.gray-icon {
  @extend %light-4;
}

.button.red {
  @extend %bg-light-5;
  &:hover {
    @extend %bg-normal-5;
  }
}

.button.red-icon {
  @extend %light-5;
}

.button.cyan {
  @extend %bg-light-8;
  &:hover {
    @extend %bg-normal-8;
  }
}

.button.cyan-icon {
  @extend %light-8;
}

.button.green {
  @extend %bg-light-7;
  &:hover {
    @extend %bg-normal-7;
  }
}

.button.green-icon {
  @extend %light-7;
}

.ripple {
  @extend %relative;
  @extend %overflow-hidden;
  span {
    @extend %transition-05;
    opacity:.6;
  }
  &:after {
    content:'';
    @extend %absolute;
    @extend %top-0;
    @extend %left-0;
    @extend %width-100-percent;
    @extend %height-100-percent;
    transform-origin: center center;
    opacity: .4;
    @include transform(scale(2));
    background:rgba(255,255,255,.2);
    @extend %transition-05;
  }
  &:hover {
    span,
    &:after  {
      @extend %opacity-1;
    }
    &:after {
      @include transform(scale(4));
    }
  }
 
}

button.icon {
  @extend %bg-transparent;
  @extend %padding-none;
  transform-origin: center center;
  opacity: .7;
  &:hover {
    @extend %opacity-1
  }
}

button.button {
  @extend %border-none;
}

a.button {
  @extend %inline-block;
  @extend %underline-none;
}

.button.icon {
  @extend %txt-center;
  @extend %light-3;
}

.button.icon.circle {
  @extend %padding-none;
}

.icon.icon-sm {
  span {
    font-size:25px;
  }
}

//main
main {
    padding:0 0 80px 0;
}
//sb-layout
.sb-layout {
  background:url(../images/app-bg.jpg) center 0 no-repeat map-get(map-get($sitePalette, c3), tertiary);
  background-size:cover;
  background-attachment: fixed;
  @include lg {
    background:url(../images/app-bg-mobile.jpg) center 0 no-repeat map-get(map-get($sitePalette, c3), tertiary);
    background-size:cover;
    background-attachment: scroll;
  }
  .button.lg {
    font-size:18px;
  }
  header {
    height:190px;
    @extend %transition-05;
    @include xmd {
      height:120px;
    }
    .sb-brand-logo {
      top:8px;
      @include xmd{
        float:none;
        margin:0 auto;
        .sb-main-logo {
          width:150px;
        }
      }
    }
    h1 {
      font-size:30px;
      letter-spacing: 5px;
      @extend %line-height-normal;
      @include xmd{
        font-size:25px;
      }
    }
    .transfer-funds-btn {
      @extend %relative;
      height:42px!important;
      border:1px solid;
      @extend %border-light-4;
      @include xmd {
        position:fixed;
        bottom:10%;
        right:1%;
        z-index:100;
        padding:0 20px;
        opacity: 0;
        @include transform(scale(0));
        .material-icons {
          top:6px;
          display:inline-block;
          //@include transform(translate3d(0,-60%,0));
        }
        @include animation(mobileShowBtn, 1s, ease-in-out, 3s, 1, normal, forwards);
      }
      @media only screen and (max-width:880px){
        right:.5%;
      }
      @include md {
        right:1%;
      }
    }
   
  }
  section {
    padding:215px 0 100px 0; 
    @extend %transition-05;
    @include xmd {
      padding:140px 0;
    }
    article {  
      iframe {
        height:560px;
        border:2px solid rgba(255,255,255,.5);
        @include smd {
          height:668px;
        }
      }
    }
  }

  .sb-section-iframe {
    .content-wrap {
      max-width:1033px;
      @extend %padding-none;
      @media only screen and (max-width:1030px){
        padding:0 2%;
      }
      iframe {
        padding:2px 3px 3px 3px;
      }
    }
  }

  .sb-current-balance {
    height:42px;
    top:10px;
    right:2%;
    @extend %padding-left-right-40;
    @include borderRadius(50px);
    //background:rgba(108,207,2,.3);
    background:rgba(0,0,0,.3);
    border:1px solid rgba(108,207,2,.9);
    @include xmd {
      padding:0 25px;
    }
    @include smd {
      height:38px;
      padding:0 5px;
      @include borderRadius(5px);
      border:none;
      background:rgba(108,207,2,.3);
    }

    h4 {
      @extend %top-5;
      font-size:15px;
      @extend %line-height-normal;
      text-shadow:0 0 5px rgba(0, 0, 0, .9);
      small {
        font-size:13px;
      }
      .sb-current-balance-txt {
        font-size:10px;
      }
      @include smd {
        font-size:13px;
        small {
          font-size:10px;
        }
      }
      @media only screen and (max-width:440px){
        .sb-current-balance-txt {
          font-size:8px;
        }
      }
    }
  }

  .sb-section-iframe {
    .content-wrap {
      @include xmd {
        padding:0 6.5%;
      }
    }
  }
  .sb-notification-wrap {
    height:100vh;
    @include transform(scaleY(0));
    @extend %opacity-0;
    @extend %transition-05;
    transform-origin: center bottom;
    .sb-notification-overlay {
      background:rgba(0,0,0,.7);
    }
    .sb-notification {
      max-width:450px;
      width:90%;
      background:rgba(255, 255, 255, 0.8);
      //@include borderRadius(6px);
      box-shadow: 0 0 10px rgba(0, 0, 0, .6);
      h4 {
        font-size:16px;
        @extend %line-height-normal;
      }
    }
  }

  .sb-blur {
    height:15px;
    @include transform(translate3d(0,85%,0));
    background:rgba(255,255,255,.9);
    box-shadow: 0 0 40px rgba(255,255,255,1);
    @include borderRadius(50px);
    filter:blur(8px);
    @include xmd {
      @include transform(translate3d(0,75%,0));
      filter:blur(6px);
    }
  }

  footer {
    height:80px;
    background:rgba(0,0,0,.6);
    .sb-share-links {
      top:-30px;
      width:115px;
      height:35px;
      @include borderRadius(50px);
      background:rgba(255, 255, 255, .2);
      transform-origin: left center;
      @include transform-2(scaleY(0),translate3d(-22.5%,0,0));
      @extend %transition-05;
      a {
        @extend %light-2;
        font-size:20px;
        opacity: .5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.sb-layout.show-notification {
  .sb-notification-wrap {
    @include transform(scaleY(1));
    @extend %opacity-1;
  }
}

.sb-layout.sb-on-scroll {
  header {
    height:80px;
    background:rgba(0,0,0,.6);
    h1 {
      font-size:15px;
      @extend %margin-bottom-5;
    }
    .button.md.rounded {
      height:37px;
      line-height: 35px;
    }
    .sb-transfer-box {
      width:auto;
      @extend %margin-none;
    }
    @include xmd{
      height:68px;
      float:none;
      margin:0 auto;
      .content-wrap {
        display:block;
        text-align: center;
      }
      .sb-brand-logo,
      .sb-main-logo {
        width:120px;
      }
      .sb-transfer-box {
        width:100%;
        margin:10px 0 0 0;
        h1 {
          font-size:14px;
          text-shadow: 0 0 2px rgba(0,0,0,.5);
        }
      }
      .sb-back-mobile {
        @include transform(scale(0));
        @include xmd{
          top:30%;
          left:2%;
          opacity: 1;
          @include transform-2(scale(1), translate3d(0,-25%,0));
          span {
            opacity: 1!important;
          }
        }
      }
      .transfer-funds-btn {
        width:45px;
        height:45px!important;
        line-height: 45px!important;
        padding:0;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
        .material-icons {
          margin:0;
          //@include transform(translate3d(0,-70%,0));
        }
        .btn-transfer-text {
          opacity: 0;
        }
      }
      .sb-blur {
        height:13px;
        transform: translate3d(0, 45%, 0);
      }
    
    }
    @include smd {
      .sb-transfer-box {
        h1 {
          font-size:10px;
        }
      }
    }
    @include sm {
     .transfer-funds-btn {
      width:40px;
      height:40px!important;
      line-height: 40px!important;
     } 
    }
   
  }
  
  section {
    padding:120px 0 100px 0;
  }

  .sb-current-balance {
    right:auto;
    left:50%;
    @include transform(translate3d(-50%,0,0));
    @include xmd {
      left:auto;
      right:2%;
      @include transform(translate3d(0,0,0));
    }
  }

}

.sb-layout.show-share-links {
  .ripple.sb-share-button {
    span {
      @extend %opacity-1;
    }
    &:after {
      @extend %opacity-1;
      @include transform(scale(2))
    }
  }

  footer {
    .sb-share-links {
      @extend %opacity-1;
      @include transform-2(scaleY(1),translate3d(-22.5%,0,0));
    }
  }

  @include keyframes(mobileShowBtn){
    0% {
      bottom:0;
      @include transform(scale(0));
      opacity: 0;
    }
    30%{
      opacity: 1;
     
    }
    80%{
      @include transform(scale(1.05));
    }
    90%{
      @include transform(scale(.8));
    }
    100%{
      bottom:10%;
      opacity: 1;
      @include transform(scale(1));
    }
  }
}



